* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v39_84 {
  width: 100%;
  height: 6022px;
  background: rgba(255,251,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_643 {
  width: 100%;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5954px;
  left: 0px;
  overflow: hidden;
}
.v39_86 {
  width: 100%;
  height: 68px;
  background: rgba(247,240,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_87 {
  width: 300px;
  height: 28px;
  background: url("../images/v39_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 650px;
  overflow: hidden;
}
.v39_88 {
  width: 167px;
  height: 19px;
  background: url("../images/v39_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 133px;
  overflow: hidden;
}
.v39_89 {
  width: 159px;
  height: 19px;
  background: rgba(31,31,31,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_90 {
  width: 4px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 163px;
}
.v39_91 {
  width: 125px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Semibold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_642 {
  width: 100%;
  height: 306px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5648px;
  left: 0px;
  overflow: hidden;
}
.v39_93 {
  width: 100%;
  height: 306px;
  background: rgba(247,240,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_94 {
  width: 151px;
  color: rgba(11,29,3,1);
  position: absolute;
  top: 56px;
  left: 80px;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v39_95 {
  width: 336px;
  height: 194px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 368px;
  overflow: hidden;
}
.v39_96 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_97 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 126px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_98 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 166px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_99 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 86px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_100 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 46px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_101 {
  width: 336px;
  height: 88px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 1184px;
  overflow: hidden;
}
.v39_102 {
  width: 40px;
  height: 40px;
  background: url("../images/v39_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 120px;
  overflow: hidden;
}
.v39_103 {
  width: 33px;
  height: 33px;
  background: rgba(31,31,31,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.v39_104 {
  width: 9px;
  height: 18px;
  background: url("../images/v39_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.v39_105 {
  width: 9px;
  height: 18px;
  background: rgba(255,251,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_106 {
  width: 40px;
  height: 40px;
  background: url("../images/v39_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 60px;
  overflow: hidden;
}
.v39_107 {
  width: 33px;
  height: 33px;
  background: rgba(31,31,31,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.v39_108 {
  width: 20px;
  height: 16px;
  background: url("../images/v39_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 10px;
  overflow: hidden;
}
.v39_109 {
  width: 20px;
  height: 16px;
  background: url("../images/v39_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_110 {
  width: 20px;
  height: 16px;
  background: rgba(255,251,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_111 {
  width: 40px;
  height: 40px;
  background: url("../images/v39_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v39_112 {
  width: 33px;
  height: 33px;
  background: rgba(31,31,31,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.v39_113 {
  width: 20px;
  height: 19px;
  background: url("../images/v39_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v39_114 {
  width: 20px;
  height: 19px;
  background: url("../images/v39_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_115 {
  width: 20px;
  height: 19px;
  background: rgba(255,251,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_116 {
  width: 10px;
  height: 10px;
  background: url("../images/v39_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v39_117 {
  width: 10px;
  height: 10px;
  background: rgba(255,251,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_118 {
  width: 2px;
  height: 2px;
  background: url("../images/v39_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 14px;
  overflow: hidden;
}
.v39_119 {
  width: 2px;
  height: 2px;
  background: rgba(255,251,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v39_120 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_121 {
  width: 336px;
  height: 194px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 776px;
  overflow: hidden;
}
.v39_122 {
  width: 105px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_123 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 166px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_124 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 126px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_125 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 86px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_126 {
  width: 336px;
  color: rgba(31,31,31,1);
  position: absolute;
  top: 46px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_483 {
  width: 100%;
  height: 900px;
  background: url("../images/v39_483.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_332 {
  width: 100%;
  height: 900px;
  background: url("../images/v39_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v39_361 {
  width: 704px;
  height: 328px;
  background: url("../images/v39_361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 80px;
  overflow: hidden;
}
.v39_326 {
  width: 704px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v39_328 {
  width: 459px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 288px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v39_342 {
  width: 112px;
  height: 4px;
  background: url("../images/v39_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 80px;
  overflow: hidden;
}
.v39_337 {
  width: 32px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v39_339 {
  width: 32px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v39_338 {
  width: 32px;
  height: 4px;
  background: rgba(255,255,255,1);
  opacity: 0.5;
  position: absolute;
  top: 0px;
  left: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v39_355 {
  width: 56px;
  height: 56px;
  background: url("../images/v39_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 740px;
  left: 156px;
  overflow: hidden;
}
.v39_343 {
  width: 56px;
  height: 56px;
  background: url("../images/v39_343.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v39_356 {
  width: 56px;
  height: 56px;
  background: url("../images/v39_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 796px;
  left: 136px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v39_357 {
  width: 56px;
  height: 56px;
  background: url("../images/v39_357.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  transform: rotate(-179deg);
}
.name {
  color: #fff;
}
.v39_368 {
  width: 704px;
  height: 560px;
  background: url("../images/v39_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1020px;
  left: 80px;
  overflow: hidden;
}
.v39_641 {
  width: 100%;
  height: 904px;
  background: url("../images/v39_641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3864px;
  left: 0px;
  overflow: hidden;
}
.v39_621 {
  width: 100%;
  height: 904px;
  background: rgba(255,252,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_619 {
  width: 100%;
  height: 120px;
  background: url("../images/v39_619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 80px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v39_631 {
  width: 704px;
  height: 560px;
  background: url("../images/v39_631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 80px;
  overflow: hidden;
}
.v39_623 {
  width: 704px;
  height: 560px;
  background: url("../images/v39_623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_630 {
  width: 451px;
  height: 132px;
  background: url("../images/v39_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 40px;
  overflow: hidden;
}
.v39_625 {
  width: 446px;
  color: rgba(255,252,246,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v39_626 {
  width: 451px;
  color: rgba(255,252,246,1);
  position: absolute;
  top: 84px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v39_632 {
  width: 704px;
  height: 560px;
  background: url("../images/v39_632.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 816px;
  overflow: hidden;
}
.v39_633 {
  width: 704px;
  height: 560px;
  background: url("../images/v39_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v39_637 {
  width: 451px;
  height: 132px;
  background: url("../images/v39_637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 40px;
  overflow: hidden;
}
.v39_638 {
  width: 279px;
  color: rgba(255,252,246,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v39_639 {
  width: 451px;
  color: rgba(255,252,246,1);
  position: absolute;
  top: 84px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v75_99 {
  width: 100%;
  height: 800px;
  background: url("../images/v75_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4848px;
  left: 0px;
  overflow: hidden;
}
.v97_646 {
  width: 100%;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v97_647 {
  width: 470px;
  color: rgba(11,29,3,1);
  position: absolute;
  top: 40px;
  left: 80px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v75_106 {
  width: 100%;
  height: 512px;
  background: url("../images/v75_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 80px;
  overflow: hidden;
}
.v53_143 {
  width: 581px;
  height: 252px;
  background: url("../images/v53_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1024px;
  left: 939px;
  overflow: hidden;
}
.v39_371 {
  width: 581px;
  color: rgba(11,29,3,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v53_136 {
  width: 581px;
  color: rgba(11,29,3,1);
  position: absolute;
  top: 92px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v53_144 {
  width: 581px;
  height: 212px;
  background: url("../images/v53_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1724px;
  left: 203px;
  overflow: hidden;
}
.v53_141 {
  width: 581px;
  color: rgba(11,29,3,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.v53_142 {
  width: 581px;
  color: rgba(11,29,3,1);
  position: absolute;
  top: 92px;
  left: 0px;
  font-family: Gilroy;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v39_372 {
  width: 704px;
  height: 560px;
  background: url("../images/v39_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1724px;
  left: 816px;
  overflow: hidden;
}
.v39_481 {
  width: 100%;
  height: 1276px;
  background: url("../images/v39_481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2468px;
  left: 80px;
  overflow: hidden;
}
.v39_377 {
  width: 581px;
  color: rgba(160,153,108,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Playfair Display;
  font-weight: Bold;
  font-size: 56px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v121_708 {
  width: 100px;
  height: 100px;
  background: url("../images/v121_708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4981px;
  left: 154px;
  overflow: hidden;
}
